	<%= render 'layouts/header' %>
	<% flash.each do |name, msg| %>
				<script type="text/javascript">
					alert("<%= msg %>");
				</script>
	<% end %>
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>Sagehen Capital Management.</h1>
					<h5>SCM aims to earn risk-adjusted excess returns above our benchmark index while providing students with a unique opportunity to learn about investing. </h5>
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<img src="assets/scm-logo.png" class="img-responsive">
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-calendar"></i>
 					<h4>Events</h4>
 					<p>We hold many events, including the Claremont Finance Conference, to give students a glimpse of a career in finance.</p>
 					<p><br/><%= link_to "Events", events_path, :class=> "btn btn-theme" %></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-dollar"></i>
 					<h4>Portfolio</h4>
 					<p>The SCM portfolio consists of both small and large cap companies spanning many different industries and countries.</p>
 					<p><br/><%= link_to "Portfolio", stocks_path, :class=> "btn btn-theme" %></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-file-text-o"></i>
 					<h4>Recent Presentations</h4>
 					<p>Students pitch ideas every Sunday to the entire club. You can view the deck of any presentation on the market insights page.</p>
 					<p><br/>
						<%= link_to "Presentations", posts_path, :class=> "btn btn-theme" %></p>
 				</div>
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->


	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->


    <script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';

		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}

		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());

		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);
		}

		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});

		function getColumnNumber() {
			var winWidth = $(window).width(),
			columnNumber = 1;

			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}

			function setColumns() {
				var winWidth = $(window).width(),
				columnNumber = getColumnNumber(),
				itemWidth = Math.floor(winWidth / columnNumber);

				$container.find('.portfolio-item').each(function() {
					$(this).css( {
					width : itemWidth + 'px'
				});
			});
		}

		function setPortfolio() {
			setColumns();
			$container.isotope('reLayout');
		}

		$container.imagesLoaded(function () {
			setPortfolio();
		});

		$(window).on('resize', function () {
		setPortfolio();
	});
})(jQuery);
</script>
