<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A recruiter contacted you for SCM!</h1>
    <p>
      Name: <%= recruiter.first_name %> <%= recruiter.last_name %>.<br>
    </p>
    <p>
      Email: <%= recruiter.email %>
    </p>
    <p>
      Company: <%= recruiter.company %>
    </p>
    <p>
      Interest: <%= recruiter.interest %>
    </p>
  </body>
</html>
