<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
<% end %>

<%= form_for [:admin, @post], :html=> {:role=>"form"} do |f| %>
  <div class="form-group">
    <%= f.label "Title" %>
    <%= f.text_field :title, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Slideshare Url (Optional)" %>
    <%= f.text_field :slideshare_url, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Content" %>
    <%= f.cktext_area :content %>
  </div>

  <%= f.submit :class=> "btn btn-theme" %>
<% end %>
