<%= form_for [:admin, @current_manager], :html=> {:role=>"form"} do |f| %>
  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.collection_select :user_id, User.all, :id, :name, {}, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Title" %>
     <%= f.select :title, CurrentManager::EXECUTIVES.map{|n| [n,n]}.concat(CurrentManager::GROUP_LEADERS.map{|n| [n,n]}), {}, {:class=>"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "Vice President?" %>
    <%= f.check_box :is_vp, :class=> "form-control" %>
  </div>

  <%= f.submit :class=> "btn btn-theme" %>
<% end %>
