<%= form_for [:admin, @alum], :html=> {:role=>"form"} do |f| %>
  <div class="form-group">
    <%= f.label "Name" %>
    <%= f.text_field :name, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Graduation Year" %>
    <%= f.select :grad_year, possible_years, {}, {:class=> "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "Position Held" %>
    <%= f.select :position_held, [["Chief Executive Officer", "Chief Executive Officer"], ["Chief Investment Officer", "Chief Investment Officer"], ["Chief Operating Officer", "Chief Operating Officer"], ["Chief Technology Officer", "Chief Technology Officer"]], {:include_blank => true}, {:class=>"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "Position Type" %>
    <%= f.select :position_type, [["Group Leader", "Group Leader"], ["Executive Leader", "Executive Leader"]], {:include_blank => true}, {:class=>"form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "LinkedIn Profile URL" %>
    <%= f.text_field :linkedin_url, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Job Title" %>
    <%= f.text_field :job_title, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Company" %>
    <%= f.text_field :company, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Location" %>
    <%= f.text_field :location, :class=> "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Bio" %>
    <%= f.text_area :bio, :class=> "form-control" %>
  </div>

  <%= f.submit :class=> "btn btn-theme" %>
<% end %>
