<%= render 'admin/layouts/header' %>
<div class="container mtb">
  <h1>Unnapproved Members</h1>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end %>

  <%= @approve.each do |user| %>
    <% if user.linkedin_url.present? %>
      <%= link_to user.name, user.linkedin_url %>, Class of <%= user.grad_year %>
    <% else %>
    <%= link_to user.name %>, Class of <%= user.grad_year %>
    <% end %
  <% end %>

</div>
