<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SCM</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "MISSION", mission_path %></li>
            <li><%= link_to "HISTORY", history_path %></li>
            <li><%= link_to "INVESTMENT PHILOSOPHY", investment_philosophy_path %></li>
            <li><a href="#">CURRENT MANAGEMENT</a></li>
            <li><a href="#">ALUMNI</a></li>
            <li><a href="#">JOIN US</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">MARKET CONDITIONS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "CURRENT HOLDINGS", stocks_path %></li>
            <li><%= link_to "PORTFOLIO PERFORMANCE", graph_stocks_path %></li>
          </ul>
        </li>
        <li><%= link_to "MARKET INSIGHTS", posts_path %></li>
        <li><%= link_to "EVENTS", events_path %></li>
        <li><%= link_to "RESOURCES", resources_path %></li>
        <li><%= link_to "RECRUITERS", new_recruiter_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMIN <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <% if current_user %>
                <%= link_to "SIGNOUT", "/signout" %>
              <% else %>
                <%= link_to "LOGIN", "/auth/linkedin" %>
              <% end %>
            </li>
            <li><%= link_to "BACKEND", root_path %></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
